main {
  width: 940px;
  margin: 0 auto;
}
form {
  margin: 40px 0 40px;
}
form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 15px;
}

form legend {
  margin: 10px 0;
}
.input__padrao {
  display: block;
  margin: 0 0 10px;
  padding: 10px;
  width: 50%;
}
.botao {
  width: 35%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  background: #311803;
  color: aliceblue;
  cursor: pointer;
  transition: 1s all;
}
.botao:hover {
  background-color: #71675c;
  color: #000000;
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}
