/* página Home */

.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.beneficios {
  padding: 3em 0;
  background: #888888;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: "🟊";
}

.imagem-beneficios {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
  opacity: 0.3;
}

.video {
  width: 560px;
  margin: 2em auto;
}

/* Página produtos  */

body {
  width: 100%;
}
header {
  background: #727171;
  padding: 20px;
}
.caixa {
  position: relative; /* para fazer o menu nav centralizar com caixa */
  width: 940px;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 115px; /* imagem logo tem um tamanho de 250, então para menu ficar no centro */
  right: 0;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-size: 22px;
}
nav a:hover {
  color: red;
  text-decoration: underline;
}
.produtos {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}
.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #000000; /*ou posso utilizar border: 3px solid #000000; que faz a funçao dos três border acima*/
  border-radius: 15px;
}
.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}
.produto__descricao {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.produto__preco {
  font-size: 22px;
  font-weight: bold;
}
.produtos li:hover {
  border-color: rgb(243, 9, 9);
}
.produtos li:hover h2 {
  font-size: 35px;
}
.produtos li:active {
  border-color: chartreuse;
}
footer {
  padding: 35px 0;
  text-align: center;
  background: #cccccc;
  background: url(../img/bg.jpg);
  color: rgb(252, 252, 252);
}

/* Página dos Contatos */

main {
  width: 940px;
  margin: 0 auto;
}
form {
  margin: 40px 0 40px;
}
form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 15px;
}
form legend {
  margin: 10px 0;
}
.input__padrao {
  display: block;
  margin: 0 0 10px;
  padding: 10px;
  width: 50%;
}
.botao {
  width: 35%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  background: #7c3b06;
  color: aliceblue;
  cursor: pointer;
  transition: 1s all;
}
.botao:hover {
  background-color: #a76a10;
  transform: rotate(360deg) scale(1.2);
}
/* configuracao mobile  */
@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .lista-beneficios,
  .imagem-beneficios {
    width: 100%;
  }
}
